<div id="lists">
<li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>
  <% @lists.each do |list| %>
    <%= render "form", list: list %>
  <% end %>
</div>
<br>
<h2>Help us register new films</h2>
<%= link_to "New list", new_list_path, class: "btn btn-warning"%>