<br>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
        <%= link_to "New list", new_list_path, class: "btn btn-warning"%>
  </li>
  <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "btn btn-warning" %>
  </li>
  <li class="nav-item">
        <%= link_to "Log-out", destroy_user_session_path, class: "btn btn-warning" %>
  </li>
  <li class="nav-item">
        <%= link_to "Lists", lists_path, class: "btn btn-warning" %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>